body {
  margin: 0;
  background: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#menu {
  text-align: center;
  padding-top: 60px;
}

#menu input, #menu button {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

#menu button {
  background: #28a745;
  color: white;
  cursor: pointer;
}

#menu button:hover {
  background: #218838;
}

#roomCode {
  width: 150px;
  text-align: center;
}

canvas {
  display: none;
  background-color: #333;
  margin: auto;
  display: block;
  border: 3px solid #fff;
}
